.header {
    background-color: $color-dark;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;
        padding: 15px 0;
        height: 70px;
        @include media-max($largescreen) {
            width: 90%;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        gap: 1px;

        .cursor {
            width:7px;
            height: 25px;
            background-color: $color-smooth;
        }
    }
}

//Header screen
.header__nav--screen {
    display: flex;
    gap: 20px;
    @include media-max($smallscreen) {
        display: none;
    }

    .nav__link {
        color:white;
        font-size: 1.2rem;
        letter-spacing: 1px;
        position: relative;
        transition: color .1s ease-out;

        &:hover {
            color:$color-smooth;
        }

        &.active {
            border-bottom: 2px solid white;
            padding-bottom: 1px;

            &:hover {
                border-color:$color-smooth;
            }
        }
    }
}

//Header mobile
.menu-icon--mobile {
    display: none !important; //Sinon bug de font-awesome
    @include media-max($smallscreen) {
        display: flex !important;
        color:white;
        font-size: 1.4rem;
        margin-right: 10px;
        cursor: pointer;
    }
}

.header__nav--mobile {
    display: none;
    @include media-max($smallscreen) {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }

    &.open {
        max-height: 500px;
    }

    .nav__link {
        padding-bottom: 10px;
        text-decoration: none;
        color: white;
    }

    .nav__link:first-child {
        border-top:1px solid white;
        padding-top: 20px;
    }

    .nav__link:last-child {
        padding-bottom: 20px;
    }
}