// ------ HOME ----------
.home {
    min-height: 100vh;
    display: flex;
    align-items: center;

    &__wrapper {
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        @include media-max($largescreen) {
            width: 90%;
        }
        @include media-max($smallscreen) {
            flex-direction: column;
            gap: 50px;
            padding: 150px 0 100px;
            margin: 0;
            width: 100%;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 60%;
        padding-right: 9%;
        @include media-max($largescreen) {
            padding-right: 5%;
        }
        @include media-max($smallscreen) {
            width: 90%;
            margin: 0 auto;
            padding: 0; 
        }
    }

    // L'image GIF à droite du conteneur
    &__img {
        width: 50%;
        height: 100%;
        @include media-max($smallscreen) {
            width: 90%;
        }

        .bg-img {
            width: 100%;
            height: 50vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url('../../src/images/illustr/zoolander-who-am-i.gif');
            background-repeat: no-repeat;
            background-position: 30% 46%;
            background-size: 55%;
            background-color: $color-dark;
            border-radius: 5px;
            border: 10px solid $color-smooth;
            @include media-max($largephone) {
               height: 30vh;
            }

            .front-img {
                width: 95%;
                height: 95%;
                background-image: url('../../src/images/illustr/tv-cut-clean.png');
                background-size:120%;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    // Les textes sur la gauche du conteneur
    &__title--top {
        font-size: 1.5rem;
        @include media-max($largescreen) {
            font-size: 1.3rem;
        }
        @include media-max($mediumscreen) {
            font-size: 1.2rem;
        }
        @include media-max($smallscreen) {
            font-size: 1.7rem;
        }
        @include media-max($tablet) {
            font-size: 1.4rem;
        }
        @include media-max($largephone) {
            font-size: 1.1rem;
        }         
    }

    &__title--middle {
        font-size: 8rem;
        font-weight: bold;
        color: $color-dark;
        @include media-max($largescreen) {
            font-size: 6rem;
        }
        @include media-max($mediumscreen) {
            font-size: 5.5rem;
        }
        @include media-max($smallscreen) {
            font-size: 8rem;
        }
        @include media-max($tablet) {
            font-size: 6em;
        }
        @include media-max($largephone) {
            font-size: 4rem;
        }          
    }

    &__title--bottom {
        color: $color-dark;
        display: flex;
        align-items: center;
        gap: 5px;

        img {
            width: 50px;
            @include media-max($mediumscreen) {
                width: 40px;
            }
            @include media-max($smallscreen) {
                width: 50px;
            }
            @include media-max($largephone) {
                width: 35px;
            }  
        }

        > p {
            font-size: 1.8rem;
            @include media-max($largescreen) {
                font-size: 1.3rem;
            }
            @include media-max($mediumscreen) {
                font-size: 1.2rem;
            }
            @include media-max($smallscreen) {
                font-size: 1.8rem;
            }
            @include media-max($tablet) {
                font-size: 1.4rem;
            }
            @include media-max($largephone) {
                font-size: 1rem;
            }       
        }
    }

    &__presentation {
        font-family: 'Open Sans', sans-serif;
        font-size: 1rem;
        margin-top: 50px;
        font-style: italic;
        text-align: justify;
        line-height: 1.5;
        @include media-max($largescreen) {
            font-size: 0.9rem;
        }
        @include media-max($tablet) {
            font-size: 0.8rem;
        }
        
        &.truncated {
            @include media-max($tablet) {
                white-space: nowrap;      /* Empêche le texte de passer à la ligne */
                overflow: hidden;         /* Cache le contenu débordant */
                text-overflow: ellipsis;  /* Ajoute des points de suspension */
            }
        }
        
        .keyword {
            background-color: $color-smooth;
            color: white;
            text-shadow: 1px 1px 3px black;
            padding: 1px 5px;
            border-radius: 5px;
        }
    }

    //Gestion du résumé en version téléphone
    &__button-show-more {
        display: none;
        @include media-max($tablet) {
            font-size: 0.8rem;
            display: block;
            text-align: center;
            margin-top: 10px;
        }
    }

    //! Revoir complètement la disposition des icones + la couleur
    &__icons {
        display: flex;
        gap: 20px;
        justify-content: space-around;
        width: 50%;
        margin: 50px auto 0;
        @include media-max($smallscreen) {
            gap:10px;    
        }
        @include media-max($largephone) {
            margin-top: 25px;   
        }

        .icon {
            figure {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 5px;
    
                img {
                    width: 50px;
                    @include media-max($smallscreen) {
                    width: 45px;
                    }
                    @include media-max($largephone) {
                        width: 30px;    
                    }
                }
    
                figcaption {
                    @include media-max($smallscreen) {
                        display: none;
                        }
                }
            }
        }

        .icon-git {
            position: relative;

            .img-git, .img-git-hover {
                position: absolute;
                top: 0;
                left: 30px;
                transition: opacity .2s ease-out;
            }

            .img-git-hover {
                opacity: 0;
            }
        }

        .icon-git:hover {
            .img-git-hover {
                opacity: 1;
            }

            .img-git {
                opacity: 0;
            }
        }

        .icon-linkedin {
            position: relative;

            .img-linkedin, .img-linkedin-hover {
                position: absolute;
                top: 0;
                left: 0;
                transition: opacity .2s ease-out;
            }

            .img-linkedin-hover {
                opacity: 0;
            }
        }

        .icon-linkedin:hover {
            .img-linkedin-hover {
                opacity: 1;
            }

            .img-linkedin {
                opacity: 0;
            }
        }

        .icon-cv {
            position: relative;

            .img-cv, .img-cv-hover {
                position: absolute;
                top: 0;
                left: -20px;
                transition: opacity .2s ease-out;
            }

            .img-cv-hover {
                opacity: 0;
            }
        }

        .icon-cv:hover {
            .img-cv-hover {
                opacity: 1;
            }

            .img-cv {
                opacity: 0;
            }
        }        
    }
}