
.skills {
    min-height: 100vh;
    background-color: $color-background1;
    padding-top: 80px;

    &__wrapper {
        width: 80%;
        margin: 0 auto;
        @include media-max($largescreen) {
            width: 90%;
        }
    }

    &__content {
        display: flex;
        @include media-max($smallscreen) {
            flex-direction: column;
            gap: 50px;
        }

        .skills__grid {
            width: 100%;
            max-width: 1700px;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(4 , 1fr);
            justify-content: center;
            grid-auto-rows: auto;
            gap: 20px;
            @include media-max($mediumscreen) {
                grid-template-columns: repeat(3 , 1fr);
            }
            @include media-max($smallscreen) {
                grid-template-columns: repeat(2 , 1fr);
            }
            @include media-max($largephone) {
                gap: 10px;
            }
            @include media-max($smallphone) {
                grid-template-columns: 1fr;
            }

            .skill {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 15px;
                transition: transform 0.3s ease, box-shadow 0.3s ease;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                position: relative;
                @include media-max($largephone) {
                    padding: 10px;
                }

                &__icons {
                    display: flex;
                    gap: 10px;
                    margin-bottom: 20px;

                    img {
                        width: 75px;
                        @include media-max($largephone) {
                            width: 50px;
                        }
                    }
                }

                &__name {
                    font-size: 1.1rem;
                    font-weight: 600;
                    color: $color-title1;
                    margin-bottom: 50px;
                    text-align: center;
                    @include media-max($largephone) {
                        font-size: .9rem;
                        margin-bottom: 40px;
                    }
                }

                &__mastered {
                    position: absolute;
                    bottom: 15px;
                    right: 15px;
                    font-size: .9rem;
                    @include media-max($largephone) {
                        font-size: .8rem;
                    }
                }
            }
        }
    }

    .formation {
        display: flex;
        background-color: lightgray;
        border-radius: 10px;
        width: 70%;
        margin: 100px auto;
        @include media-max($largescreen) {
            width: 85%;
        }
        @include media-max($smallscreen) {
            margin: 30px auto;
            width: 95%;
        }

        &__wrapper {
            display: flex;
            align-items: center;
            gap: 10px;
            width: 50%;
            padding: 50px 20px;
            border-right: 10px solid $color-dark;
            @include media-max($tablet) {
                width: 75%;
            }
            @include media-max($largephone) {
                width: 100%;
                padding: 20px 10px;
                border:none;
                gap:15px;
            }  
             

            img {
                width: 25%;
                border-radius: 5px;
                @include media-max($tablet) {
                    width: 40px;
                }
            }

            .formation__content {
                display: flex;
                flex-direction: column;
                gap: 5px;

                .paragraph-1 {
                    font-size: 1.4rem;
                    @include media-max($largescreen) {
                        font-size: 1.2rem;
                    }
                    @include media-max($tablet) {
                        font-size: 1rem;;
                    }
                }

                .paragraph-2 , .paragraph-3 {
                    font-size: 1rem;
                    @include media-max($largescreen) {
                        font-size: 0.8rem;
                    }
                    @include media-max($tablet) {
                        font-size: 0.7rem;;
                    }
                }
            }
        }

        &__img {
            width: 50%;
            background-image: url('../../src/images/illustr/graduate.jpg'); //Modify
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center 25%;
            border-radius: 0 10px 10px 0;
            @include media-max($largephone) {
                display: none;
            }  
        }
    }
}
