$color-dark:#0f1113;

$color-main:#657ED4;
$color-main-save:#426B69;
$color-smooth:#DBC2CF;
$color-font:#616283;


// $color-main:#3C6E71;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; //Activer le scroll smooth sur le site
}

body {
    width: 100%;
    max-width: 100%;
    background-color: whitesmoke;
}

// ------ FONTS ----------

h1, h2, h3, p, a {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 1rem;
}

h1 {
    font-size: 2rem;
    color:white;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}

a {
    text-decoration: none;
}