$largescreen : 1500px;
$mediumscreen : 1200px;
$smallscreen : 980px; //Breakpoint mode tél/tablet
$tablet : 775px;
$largephone : 570px;
//Min largeur : 340px

//Pc first
@mixin media-max($_max-width) {
    @media screen and (max-width: $_max-width) {
       @content;
    }
  }

@include media-max($largescreen) {
    
}



