@import "./mediasQueries";

$color-header:#0f1113;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 100%;
    background-color: whitesmoke;
}

// ------ FONTS ----------

h1 {
    font-size: 2rem;
    color:white;
}

a {
    text-decoration: none;
}

// ------ HEADER ----------

.header {
    background-color: $color-header;
    width: 100%;
    position: sticky;
    top: 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80% ;
        margin: 0 auto;
        // padding: 15px 0;
        height: 7vh;
    }
}

//Header screen
.header__nav--screen {
    display: flex;
    gap: 20px;

    .nav__link {
        color:white;
        font-size: 1.2rem;
        letter-spacing: 1px;
    }

    .nav__link:hover {
        color:lightgray;
    }

    .nav__link.active {
        text-decoration: underline;
    }
}

//Header mobile


// ------ HOME ----------
.home {
    height: 93vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    &__wrapper {
        display: flex;
        flex-direction: column;
        width: 60%;
        padding-right: 15%;
    }

    &__img {
        width: 40%;

        img {
            width: 100%;
        }
    }

    &__title--top {
        font-size: 2rem;
    }

    &__title--middle {
        font-size: 8rem;
        font-size: bold;
    }

    &__title--bottom {
        display: flex;
        align-items: center;
        gap: 5px;

        img {
            width: 50px;
        }

        > p {
            font-size: 1.5rem;
        }
    }

    &__presentation {
        font-size: 1.1rem;
        margin-top: 50px;
        font-style: italic;
        text-align: justify;
    }

    &__icons {
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-top: 50px;

        img {
            width: 50px;
        }
    }
}