* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  max-width: 100%;
  background-color: whitesmoke;
}

h1, h2, h3, p, a {
  font-family: "Montserrat", sans-serif;
}

p {
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
  color: white;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

a {
  text-decoration: none;
}

.header {
  background-color: #0f1113;
  width: 100%;
  position: fixed;
  top: 0;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 15px 0;
}
.header__title {
  display: flex;
  align-items: center;
  gap: 1px;
}
.header__title .cursor {
  width: 7px;
  height: 25px;
  background-color: #DBC2CF;
}

.header__nav--screen {
  display: flex;
  gap: 20px;
}
.header__nav--screen .nav__link {
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1px;
  transition: scroll-behavior 0.5s ease-in-out;
}
.header__nav--screen .nav__link:hover {
  color: #DBC2CF;
}
.header__nav--screen .nav__link.active {
  text-decoration: underline;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.home__wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 200px 0 100px;
  display: flex;
  align-items: center;
}
.home__content {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-right: 15%;
}
.home__img {
  width: 50%;
  height: 100%;
}
.home__img .bg-img {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../src/images/illustr/zoolander-who-am-i.gif");
  background-repeat: no-repeat;
  background-position: 30% 46%;
  background-size: 55%;
  background-color: #0f1113;
  border-radius: 5px;
  border: 10px solid #DBC2CF;
}
.home__img .bg-img .front-img {
  width: 95%;
  height: 95%;
  background-image: url("../../src/images/illustr/tv-cut-clean.png");
  background-size: 120%;
  background-position: center;
  background-repeat: no-repeat;
}
.home__title--top {
  font-size: 1.5rem;
}
.home__title--middle {
  font-size: 8rem;
  font-weight: bold;
  color: #0f1113;
}
.home__title--bottom {
  color: #0f1113;
  display: flex;
  align-items: center;
  gap: 5px;
}
.home__title--bottom img {
  width: 50px;
}
.home__title--bottom > p {
  font-size: 1.8rem;
}
.home__presentation {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  margin-top: 50px;
  font-style: italic;
  text-align: justify;
  line-height: 1.5;
}
.home__presentation .keyword {
  background-color: #DBC2CF;
  color: white;
  text-shadow: 1px 1px 3px black;
  padding: 1px 5px;
  border-radius: 5px;
}
.home__icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
}
.home__icons figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.home__icons figure img {
  width: 50px;
}

.projects {
  min-height: 100vh;
  background-color: rgb(228, 225, 225);
  padding-top: 80px;
}
.projects__wrapper {
  width: 80%;
  margin: 0 auto;
}
.projects__title {
  padding-bottom: 40px;
  color: #0f1113;
}
.projects__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 10vh);
  gap: 10px;
}
.projects__grid .project__cell {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.projects__grid .project__cell-1 {
  grid-column: 1;
  grid-row: 1/4;
  background-image: url("../../src/images/projets/cinemate-incr.jpg");
  background-position: center;
}
.projects__grid .project__cell-2 {
  grid-column: 2;
  grid-row: 1/5;
  background-image: url("../../src/images/projets/quiz-incr.jpg");
  background-position: center;
}
.projects__grid .project__cell-3 {
  grid-column: 3;
  grid-row: 1/3;
  background-image: url("../../src/images/projets/tournois-incr.jpg");
  background-position: center 35%;
}
.projects__grid .project__cell-4 {
  grid-column: 1;
  grid-row: 4/7;
  background-image: url("../../src/images/projets/rw-list-incr.png");
  background-position: center 50%;
}
.projects__grid .project__cell-5 {
  grid-column: 2;
  grid-row: 5/8;
  background-image: url("../../src/images/projets/art-react-incr.jpg");
  background-position: 25% 70%;
}
.projects__grid .project__cell-6 {
  grid-column: 3;
  grid-row: 3/7;
  background-color: white;
}
.projects__grid .project__cell-7 {
  grid-column: 1;
  grid-row: 7/9;
  background-color: white;
}

.project-card {
  display: none;
}

.skills {
  min-height: 100vh;
  background-color: whitesmoke;
  padding-top: 80px;
}
.skills__wrapper {
  width: 80%;
  margin: 0 auto;
}
.skills__title {
  padding-bottom: 40px;
  color: #0f1113;
}
.skills__content {
  display: flex;
  gap: 20px;
}
.skills__content h3 {
  margin-bottom: 10px;
}
.skills__content .hard-skills {
  width: 70%;
}
.skills__content .hard-skills__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
}
.skills__content .hard-skills__grid .hard-skill {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  margin-right: 50px;
  padding: 20px 0;
}
.skills__content .hard-skills__grid .hard-skill > img {
  width: 75px;
  margin-right: 10px;
}
.skills__content .hard-skills__grid .hard-skill__name {
  font-size: 1.5rem;
}
.skills__content .hard-skills__grid .hard-skill__mastered {
  margin-left: auto;
}
.skills__content .hard-skills__grid .hard-skill.gestion-projet {
  grid-column: 1/3;
}
.skills__content .soft-skills {
  width: 30%;
}
.skills__content .soft-skills__content {
  display: flex;
  flex-direction: column;
}
.skills__content .soft-skills__content .soft-skill {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
}
.skills__content .soft-skills__content .soft-skill > img {
  width: 50px;
}
.skills__content .soft-skills__content .soft-skill__name {
  font-size: 1.3rem;
}
.skills .formation {
  display: flex;
  background-color: lightgray;
  border-radius: 10px;
  width: 70%;
  margin: 100px auto;
}
.skills .formation__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 50%;
  padding: 50px 20px;
  border-right: 10px solid #0f1113;
}
.skills .formation__wrapper img {
  width: 25%;
  border-radius: 5px;
}
.skills .formation__wrapper .formation__content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.skills .formation__wrapper .formation__content .paragraph-1 {
  font-size: 1.5rem;
}
.skills .formation__img {
  width: 50%;
  background-image: url("../../../src/images/illustr/Graduate_06.20_Blog_Image_Resize.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 25%;
  border-radius: 0 10px 10px 0;
}

.footer {
  padding: 20px 0;
  background-color: #0f1113;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.footer__picture {
  width: 75px;
  border-radius: 100px;
}
.footer__content {
  color: white;
  display: flex;
  flex-direction: column;
}
.footer__content > p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
}
.footer__content__icons {
  display: flex;
  gap: 5px;
}
.footer__content__icons img {
  width: 25px;
  margin-top: 5px;
}

/*# sourceMappingURL=style.css.map */
